<div class="row">
  <div class="col s12 m12 l12">
    <h5 class="breadcrumbs-title">{{ titulo }}</h5>

    <div class="row">
      <form class="col s12">
        <div class="row">

          <div class="input-field col s6">
            <div *ngIf="user">
              <h2>Olá, {{user.nome}}</h2>


            </div>
          </div>
        </div>


        <div class="row">
          <div class="input-field col s12">
            <button class="btn waves-effect waves-light right submit" type="submit">Salvar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
